/* Nav - https://www.cssscript.com/one-page-scroll-dot-nav/ */
nav#dot-nav {
    position: fixed;
    right: 20px;
    top: 20px;
}
nav#dot-nav a {
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: block;
    margin: 10px;
}
nav#dot-nav a.active {
    background: #ffffff;
    transition: all 0.6s;
}
