body {
    color: white;
    background: linear-gradient(90deg, #030418 0%, #120f30 100%);
    font-family: "Roboto", sans-serif;
}

h1,
.typed-cursor {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 80px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 20vh;
}

.title-text {
    font-size: 40px;
    font-weight: 500;
}

#page2 {
    font-size: 40px;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#barriers-tooltip {
    display: none;
    position: absolute;
    background-color: #1c1832;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 8px;
    z-index: 1;
    width: 200px;
    border: 1px solid #38cbdc;
}

#barriers-tooltip p {
    font-size: 14px;
}

.vis-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#page7 {
    flex: 1;
}

#benchmark-vis {
    width: 100%;
    height: 100%;
}

.footer {
    margin: 2vh;
}

.form-select {
    width: max-content;
    background-color: transparent;
    background: transparent;
    color: #38cbdc;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #38cbdc;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.form-select:hover {
    background-color: #38cbdc;
    color: #1c1832;
    transition: all 0.3s;
}

path.dim {
    opacity: 0.25;
    transition: opacity 0.3s ease;
}

rect.dim {
    opacity: 0.25;
    transition: opacity 0.3s ease;
}

circle.dim {
    opacity: 0.25;
    transition: opacity 0.3s ease;
}

#benchmark-tooltip{
    display: none;
    background-color: #1c1832;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #38cbdc;
    z-index: 1;
    width: max-content;
}

.tooltip {
    background-color: #1c1832;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #38cbdc;
    z-index: 1;
    width: 200px;
}